%table
  %thead
    %tr
      %th Name
      %th Image
      %th Command
      %th Ref
      - unless user
        %th User Name
      %th Created
      %th Status
      %th Ports
      %th Logs
  %tbody
    - @boxes.each do |b|
      %tr
        %td=b.name
        %td=b.image
        %td=b.command
        %td=b.ref
        - unless user
          %td=b.user.try(:login)
        %td=b.created_at
        %td=b.status
        %td=b.ports
        %td=link_to b.container.data.data.present? ? b.container.data.data.length : "Click to generate then come back later", container_path(b.container.id)
