%table
  %thead
    %tr
      %th Name
      - unless user
        %th User Name
      %th Created
      %th Status
      %th Ports
  %tbody
    - @boxes.each do |b|
      %tr
        %td=b.name
        - unless user
          %td=b.user.try(:login)
        %td=b.created_at
        %td=b.status
        %td=b.ports
